.container {
    display: flex;
    gap: 20px;
}

.box {
    width: 800px;
    height: 500px;
    background-color: rgba(196, 61, 61, 0.549);
    padding: 20px;
    border: 3px,solid,black;
    font-size: 20px;

}